.Hero {
    display: flex;
    flex-direction: column;
    padding: 0vw;
}

.hero--header {
    padding-top: 1px;
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #845EC2;
}

.hero--text {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}