.Card {
  width: 176px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: relative;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  display: flex;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--price {
  margin-top: auto;
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}