.Navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: #00C9A7;
}

.nav--logo {
  max-width: 70px;
}

.nav--logo-link {
  display: block;
  width: 70px;
  height: 70px;
}

.nav--logo-link:hover {
  cursor: pointer;
}

.nav--list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav--item {
  margin: 0 16px;
}

.nav--link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.nav--link:hover {
  color: #845EC2;
}

.nav--search-form {
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #EBEBEB;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  height: 40px;
  width: 50%;
}

.nav--search-input {
  border: none;
  padding: 0px;
  margin-top: 17px;
  font-size: 18px;
  flex-grow: 1;
}

@media (max-width: 379px) {
  .nav--search-input::placeholder {
    font-size: 0;
  }
}

.nav--search-input:focus {
  outline: none;
}

.nav--search-input:focus::placeholder {
  font-size: 0px;
}

.nav--search-button {
  background-color: #845EC2;
  border: none;
  border-radius: 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  /* Add these lines to make the button circular */
  width: 50px;
  height: 42px;
  padding: 0;
  margin-right: -22px;
}

.fa-search {
  margin-left: 5px;
}

.nav--search-button:hover {
  color: #845EC2;
}

.searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  list-style: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
  width: 100%;
}

.searchResult {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.searchLink {
  color: #222;
  text-decoration: none;
  font-size: 14px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin-left: 20px;
}

.menuLink {
  color: #222;
  text-decoration: none;
  font-size: 16px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.nav--dropdown {
  position: relative;
  margin-right: 0px;

}

.nav--dropdown a {
  justify-content: space-between;
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  position: relative;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.nav--icon-link {
  margin-right: 10px;
}

.nav--icon-separator {
  width: 10px;
  display: flex;
}

.nav--dropdown-icons {
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 20px;
}

.nav--icon-space {
  margin-right: 5px;
}

.nav--icons-container {
  display: flex;
  border-radius: 50px 50px 50px 50px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.352);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.nav--icons-container:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.nav--dropdown:hover .nav--dropdown-content {
  display: block;
}

.nav--dropdown-content {
  display: none;
  position: absolute;
  top: 105%;
  left: -100px;
  /* movemos el dropdown a la izquierda */
  background-color: rgba(255, 255, 255, 0.785);
  border: 1px solid #ddd;
  border-radius: 9px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
}

.nav--dropdown:hover .nav--dropdown-content {
  display: block;
}

.nav--dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease-in-out;
}

.nav--dropdown-content a:last-child {
  margin-bottom: 0;
}