REACT_APP_SUPABASE_URL=https://fkesxfdsskwmofapxgah.supabase.co
REACT_APP_SUPABASE_ANONKEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrZXN4ZmRzc2t3bW9mYXB4Z2FoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NzgzMTU5NTIsImV4cCI6MTk5Mzg5MTk1Mn0.ZN8caOm8GntUlw-7k6_jnUrYWnT_gf_a4JPP5l3x7hE